nav{
    text-decoration: none;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: cornflowerblue;
  
  
  }

.menu li{
    display: inline;
    text-decoration: none;
    color: white;
         
}

#logo{
    margin-right: 35%;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
}
.menu li a{
    display: inline;
    text-decoration: none;
    margin: 40px;
    color: white;
  
    
}
.order {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

}
/* body{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    background-color: #FFFFFF;
} */

h1{
    font-size: 32px;
    line-height: 36px;
    font-weight: 700;
    font-family: Roboto;
}

h3{
    width: 116px;
    height: 33px;


    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;

 color: #000000;
}

.formWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    margin-top: 50px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}


/* input{
    display: block;
    background-color: white;
    margin: 5px;
    width: 465px;
    height: 40px;
    /* border: none; */
} */
/* input::placeholder{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    font-family: Roboto;
    color: #000000;
    
} */
textarea::placeholder{
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    font-family: Roboto;
    color: #000000;
}
textarea{
    display: block;
    background-color: white;
    margin: 5px;
    width: 465px;
    height: 100px;
    border: none;
}

pre{
    width: 259px;
    height: 130px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    margin-right: 100px;
}

.contact{
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    margin: 20px ;
}

.footer{
    width:100%;
    background-color: #52B1CF;
    list-style-type: none;
}
.form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    font-size: x-large;
}
.form input{
    width: 300px;
    font-size: large;
    border-radius: 10px;
    border-color: transparent;
    margin-right: 20px;
}
.form button{
    width: 100px;
    font-size: large;
    border-radius: 10px;
    border-color: transparent;

}

.social-icons{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    list-style-type: none;
}
.social-icons a{
    margin: 30px;
    color: white;
    font-size: 30px;
    justify-content: space-around;
}
.contacts{
    float: right;
    padding-right: 30px;
    
}
.copyright {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10px;
}