nav{
    text-decoration: none;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: cornflowerblue;
    
  
  
  }

.menu li{
    display: inline;
    text-decoration: none;
    /* color: #52B1CF; */
    color: white;
         
}

#logo{
    margin-right: 35%;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
}
.menu li a{
    display: inline;
    text-decoration: none;
    margin: 40px;
    /* color: #52B1CF; */
    color: white;
    
}

.quote{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
}

.but{
    width: 100px;
    height: 30px;
    background-color: skyblue;
    border: none;
    border-radius: 5px;
    font-size: medium;
}
.about{
    background-color: skyblue;
    background-size: cover;
    margin-top: 30px;
    text-align: center;

}
#img-1{
    height: 350px;
    width: 650px;
    padding-top: 30px;
    float: left;
    margin-right: 100px;
    padding-bottom: 30px;

}
.about-p{
    margin-left: 30px;
    justify-content: center;
    padding-top: 30px;
    padding-right: 60px;
    padding-bottom: 100px;
}
#serve{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.main{
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;

}
.services{
    margin-right: 30px;
}
.headerimage{
    padding-top: 20px;
    padding-left: 30px;
}



.thumbnail {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}

.footer{
    width:100%;
    background-color: #52B1CF;
    list-style-type: none;
}
.form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    font-size: x-large;
}
.form input{
    width: 300px;
    font-size: large;
    border-radius: 10px;
    border-color: transparent;
    margin-right: 20px;
}
.form button{
    width: 100px;
    font-size: large;
    border-radius: 10px;
    border-color: transparent;

}

.social-icons{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    list-style-type: none;
}
.social-icons a{
    margin: 30px;
    color: white;
    font-size: 30px;
    justify-content: space-around;
}
.contacts{
    float: right;
    padding-right: 30px;
    
}
.copyright {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10px;
}

    
    /* .footer{
    background:#52B1CF;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    display: flex;
    justify-content: center;
    padding: 0 auto;
    }
    
    .footer .column{
    width:20%;
    margin:0% 1%;
    display:inline-block;
    }
    
    .footer .column ul{
    width:100%;
    }
    
    .footer .column ul li{
    list-style:none;
    padding:5px 0px;
    color:gray;
    }
    
    .footer .column ul li a{
    text-decoration:none;
    font-size:1em;
    color:gray;
    transition:0.5s;
    }
    
    .footer .column ul li a:hover{
    color:#f7bd00;
    }
    
    .footer .column ul .title{
    font-family: 'Fredoka One', cursive;
    font-size:1.2em;
    color:#fff;
    }
    
    .footer .column ul li input{
    padding:10px 10px;
    outline:none;
    border:0;
    width:65%;
    height:28px;
    color:#1e1e1e;
    }
    
    
    
    .footer .column ul li i{
    font-size:2em;
    margin:0px 10px;
    }
    
    .sub-footer{

    padding:5px 0px;
    text-align:center;
    color:gray;
    font-size:12px;
    font-family: 'Play', sans-serif;
    }
    
    @media (max-width:720px){
    .footer .column{
    width:90%;
    display:block;
    margin:0% 0%;
    }
    
    .footer .column:nth-child(2),.footer .column:nth-child(3){
    width:40%;
    display:inline-block;
    }
    }
    
    @media (max-width:1200px){
    .footer .column ul li input{
    padding:5px 5px;
    outline:none;
    border:0;
    width:70%;
    height:34px;
    color:#1e1e1e;
    }
    .footer .column ul li .btn1{
    position:relative;
    top:2px;
    }
    }
    
    @media (max-width:940px){
    .footer .column ul li input{
    padding:5px 5px;
    outline:none;
    border:0;
    width:60%;
    height:34px;
    color:#1e1e1e;
    }
    .footer .column ul li .btn1{
    position:relative;
    top:2px;
    }
    }  */



