.navigation-bar {
    width: 100%;  
    height: 50px; 
    background-color: white; 
}
.logo {
  
    vertical-align: top;
    width: 50px;
    height: 80px;
    margin-right: 20px;
    margin-left: 60px;
    font-size: 25px;
    margin-top: 30px; 
    float: left;
       
}
.navigation-bar > a {
   
    vertical-align: top;
    margin-right: 20px;
    float: right;
    height: 80px;        
    line-height: 80px; 
    padding-right: 80px;   
}
a:hover{
    color:green;
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
.p{
    display: inline;
}
.p > p{
    vertical-align: top;
    margin-right: 20px;
    float: left;
    height: 80px;        
    line-height: 80px; 
    padding-right: 80px;
    
    
}
#button{
    vertical-align: top;
    width: 50px;
    /* height: 80px; */
    /* margin-right: 20px;
    margin-left: 60px;
    font-size: 25px;
    margin-top: 30px;  */
    float: right;
}
#label{
    padding-left: 550px;
    padding-right: 40px;
}
.btn{
    vertical-align: top;
    width: 50px;
    cursor: pointer;
}
#signup{
    padding: 10px;
    float: right;
    cursor: pointer;
}


.about img{
    padding-left: 1%;
    display: block;
}
.about{
    padding-left: 1%;
    padding-bottom: 50px;

}
#p{
    float: right;
    padding-right: 50px;
    padding-left: 100px;
}

#p2{
    float: left;
    padding-left: 195px;
}
#img{
    height: 300px;
    width: 519px;
}
#h1{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

img {
    display: block;
}

.thumbnail {
    position: relative;
    display: inline-block;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    text-align: center;
    color: white;
    font-weight: bold;
}


    
    .footer{
    background:#52B1CF;
    padding:30px 0px;
    font-family: 'Play', sans-serif;
    display: flex;
    justify-content: center;
    padding: 0 auto;
    }
    
    .footer .column{
    width:20%;
    margin:0% 1%;
    display:inline-block;
    }
    
    .footer .column ul{
    width:100%;
    }
    
    .footer .column ul li{
    list-style:none;
    padding:5px 0px;
    color:gray;
    }
    
    .footer .column ul li a{
    text-decoration:none;
    font-size:1em;
    color:gray;
    transition:0.5s;
    }
    
    .footer .column ul li a:hover{
    color:#f7bd00;
    }
    
    .footer .column ul .title{
    font-family: 'Fredoka One', cursive;
    font-size:1.2em;
    color:#fff;
    }
    
    .footer .column ul li input{
    padding:10px 10px;
    outline:none;
    border:0;
    width:65%;
    height:28px;
    color:#1e1e1e;
    }
    
    
    
    .footer .column ul li i{
    font-size:2em;
    margin:0px 10px;
    }
    
    .sub-footer{
    background:#1e1e1e;
    padding:5px 0px;
    text-align:center;
    color:gray;
    font-size:12px;
    font-family: 'Play', sans-serif;
    }
    
    @media (max-width:720px){
    .footer .column{
    width:90%;
    display:block;
    margin:0% 0%;
    }
    
    .footer .column:nth-child(2),.footer .column:nth-child(3){
    width:40%;
    display:inline-block;
    }
    }
    
    @media (max-width:1200px){
    .footer .column ul li input{
    padding:5px 5px;
    outline:none;
    border:0;
    width:70%;
    height:34px;
    color:#1e1e1e;
    }
    .footer .column ul li .btn1{
    position:relative;
    top:2px;
    }
    }
    
    @media (max-width:940px){
    .footer .column ul li input{
    padding:5px 5px;
    outline:none;
    border:0;
    width:60%;
    height:34px;
    color:#1e1e1e;
    }
    .footer .column ul li .btn1{
    position:relative;
    top:2px;
    }
    }
    




