nav{
    text-decoration: none;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: cornflowerblue;
  
  
  }

.menu li{
    display: inline;
    text-decoration: none;
    color: white;
         
}

#logo{
    margin-right: 35%;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 2px 2px 2px black;
}
.menu li a{
    display: inline;
    text-decoration: none;
    margin: 40px;
    color: white;
  
    
}
.order {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 100px;

}
.order p{
    font-size: 30px;
}

.button {
    background-color: #475885;
    color: white;
    display: block;
    margin: 30px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    width: 50%;
    margin-left: 155px;

    
}
.map{
   width: 50%;
   margin-right: auto;
   margin-left: auto;
}

.locomotive{
    justify-content: space-evenly;
    margin: 30;

}


.preference {
    margin-left: 500px;
}

.vehicle {
    display: flex;
    justify-content: space-evenly;
}
.car{
    display: flex;
    justify-content: center;
    font-weight: 800;
}
.picture{
    float: left;
    margin-left: 30px;
    height: 300px;
    width:500px;
}
.relocate{
    float: right;
    text-align: center;
    padding-left: 30px;
 
}
.godown{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: skyblue;
    height: 120vh;

}

.settle{
   float: right;
   margin-right: 30px;
}

.storage{
    padding-top: 30px;
    display: flex;
    text-align: center;
}
.room{
  margin-top: 30px;

}
.box{
    margin-top: 30px;
}
.settling-p{
    text-align: center;
    margin-top: 60px;
    margin-left: 30px;
}
.footer{
    width:100%;
    background-color: #52B1CF;
    list-style-type: none;
    margin-top: 40px;
}
.form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    font-size: x-large;
}
.form input{
    width: 300px;
    font-size: large;
    border-radius: 10px;
    border-color: transparent;
    margin-right: 20px;
}
.form button{
    width: 100px;
    font-size: large;
    border-radius: 10px;
    border-color: transparent;

}

.social-icons{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    list-style-type: none;
}
.social-icons a{
    margin: 30px;
    color: white;
    font-size: 30px;
    justify-content: space-around;
}
.contacts{
    float: right;
    padding-right: 30px;
    
}
.copyright {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: gray;
}