.button {
    background-color: blue;
    color: white;
    margin: 30px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.order {
    margin-left: 200px;
    float: left;
}

.preference {
    margin-left: 500px;
}

.vehicle {
    display: flex;
    justify-content: space-evenly;
}
.car{
    display: flex;
    justify-content: center;
    font-weight: 800;
}
.picture{
    float: left;
    margin-left: 200px;
    height: 300;
     width:500;
}
.desribe{
    float: right;
    margin-right: 200px;
    
}
.box{
    float: right;
    margin-right: 300px;
    padding-top: 100px;
    height: 300;
     width:500;
}
.means{
    float: left;
    margin-left: 300px;
}
.map{
    float: right;
    margin-right: 200px;
    margin-top: 50px;
    
}
.header{
    margin: auto;

}
.storage{
    margin: auto;
}
.locomotive{
    padding-top: 400px;

}
.godown{
    padding-top: 100px;
}
