.intro {
    text-align: left;
    display: flex;
    flex-direction: row;
}
.intro img {
    float: right;
    padding: 10px;
}
.office {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.office img{
    float: left;
    padding: 10px;
}
.office .article {
    display: flex;
    flex-direction: column;
}
.quote {
    background-image: url(./assets/lorries\ collection.jpeg);
    text-align: center;
    border-radius: 50px;
    margin: left 200px;
    margin-right: 200px;
}